<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pizzamanagement</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   
</head>
<body>
    <div class="container-fluid">
        <h1>Pizza Management System</h1>
        <p>This part is inside a .container-fluid class.</p>
        <p>The .container-fluid class provides a full width container, spanning the entire width of the viewport.</p>           
      
        <div class="row" style="background-color:lavender;"> 
        <div class="btn-group">
            <button type="button" class="btn btn-primary">Home</button>
            <button type="button" class="btn btn-primary">About</button>
                                  
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    Veg-Pizza
                    
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Margherita</a>
                        <a class="dropdown-item" href="#">Farmhouse</a>
                        <a class="dropdown-item" href="#">Cheese Pizza</a>
                        <a class="dropdown-item" href="#">Peppy Paneer</a>
                        <a class="dropdown-item" href="#">Veggie Paradise</a>
                        <a class="dropdown-item" href="#">Pasta Pizza - Veg</a>
                      </div>
                    </button>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                  Non-veg-pizza
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Chicken Fiesta</a>
                    <a class="dropdown-item" href="#">Chicken Pepperon</a>
                    <a class="dropdown-item" href="#">Non Veg Supreme</a>
                    <a class="dropdown-item" href="#">Chicken Tikka</a>
                    <a class="dropdown-item" href="#">Chicken & Onion</a>
                    <a class="dropdown-item" href="#">Pasta Pizza - Non Veg</a>
                  </div>
                </button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    Sides
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Coke</a>
                      <a class="dropdown-item" href="#">Garlic Bread</a>
                      <a class="dropdown-item" href="#">Cheesy Jalapeno Dip</a>
                      <a class="dropdown-item" href="#">Cheesy Dip</a>
                      <a class="dropdown-item" href="#">Pasta</a>
                      <a class="dropdown-item" href="#">Tomato Ketchup</a>
                    </div>
                  </button>
                  </div>
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    Desert
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Cake</a>
                      <a class="dropdown-item" href="#">Rasmalai</a>
                      <a class="dropdown-item" href="#">Hot Gulab Jamun</a>
                      <a class="dropdown-item" href="#">Rasgulla</a>
                      <a class="dropdown-item" href="#">Barfy</a>
                      </div>
                  </button>
                  </div>
                <button type="button" class="btn btn-primary">Offers</button>
                <button type="button" class="btn btn-primary">Order History</button>
                <button type="button" class="btn btn-primary">Already Account - Login</button>
                
                
                <button type="button" class="btn btn-primary">New User - Create Account</button>
                <button type="button" class="btn btn-primary">Contact Us</button>
                <button type="button" class="btn btn-primary">Complaint</button>
              </div>
            </div>  
        </div>
    </div>


    
</body>
</html>