<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   
</head>
<body>
    <div class="container">
   
        <div class="registercontent" align="center">
            <div class="registertop">
                <h1>Register</h1>
            </div></br></br>
            <div class="registerbottom">
            <form action="/signup" method="post" autocomplete="off" >
            <div class="row">    
            <label for="name" class="mr-sm-2">Enter your name:</label>
            <input type="text" name="username" class="textbox mb-2 mr-sm-2" id="name" required>
            <label for="pwd" class="mr-sm-2">Enter your password:</label>
            <input type="password" name="password" class="textbox mb-2 mr-sm-2" id="pwd" required><br>
            </div>
            <div class="row"> 
            <label for="mobileid" class="mr-sm-2">Enter mobile no:</label>
            <input type="text" name="mobile" class="textbox mb-2 mr-sm-2" id="mobileid" required> 
            <label for="emailid" class="mr-sm-2">Enter e-mail id.:</label>   
            <input type="email" name="email" class="textbox mb-2 mr-sm-2" id="emailid" required>
            </div>
            <div class="row"> 
            <label for="addressid" class="mr-sm-2">Enter your address:</label>
            <input type="text" name="address" class="textbox mb-2 mr-sm-2" id="addressid" required>
            <label for="cityid" class="mr-sm-2">Enter your city:</label>
            <input type="text" name="city" class="textbox mb-2 mr-sm-2" id="cityid" required>
            </div>
            <div class="row"> 
            <label for="stateid" class="mr-sm-2">Enter your state:</label>  
            <input type="text" name="state" class="textbox mb-2 mr-sm-2" id="stateid" required> 
            <label for="countryid" class="mr-sm-2">Enter your country:</label>  
            <input type="text" name="country" class="textbox mb-2 mr-sm-2" id="countryid" required>
            </div>
            <div class="row"> 
            <label for="pinid" class="mr-sm-2">Enter your area pin code:</label>
            <input type="text" name="postalcode" class="textbox mb-2 mr-sm-2" id="pinid" required>
            <label for="landmarkid" class="mr-sm-2">Enter landmark:</label>
            <input type="text" name="landmark" class="textbox mb-2 mr-sm-2" id="landmarkid" required>
            </div>
            <div class="row"> 
            <input type="submit" class="btn btn-primary" value="Register">
            <p style="margin-left: 200px;" class="col-xs-3 col-xs-offset-2">Already have account? <a class="worddark" href="/signup">Login here</a></p>
            </div>
            </form>
           
        </div>
    </div>    
</body>
</html>